
obj/Release/PopUp.g.cs
obj/Release/MainWindow.g.cs
obj/Release/Floor2.g.cs
obj/Release/Floor1.g.cs
obj/Release/CuHackingMurder_MarkupCompile.lref
obj/Release/CuHackingMurder_MarkupCompile.cache
obj/Release/App.g.cs
obj/Debug/CuHackingMurder_MarkupCompile.lref
obj/Debug/CuHackingMurder_MarkupCompile.cache
obj/Debug/CuHackingMurder.pdb
obj/Debug/CuHackingMurder.exe
obj/Debug/CuHackingMurder.csprojAssemblyReference.cache
obj/Debug/CuHackingMurder.csproj.GenerateResource.cache
obj/Debug/CuHackingMurder.csproj.FileListAbsolute.txt
bin/Debug/CuHackingMurder.pdb
bin/Debug/CuHackingMurder.exe
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/CuHackingMurder/v16/Server/sqlite3/storage.ide-wal
.vs/CuHackingMurder/v16/Server/sqlite3/storage.ide-shm
.vs/CuHackingMurder/v16/Server/sqlite3/storage.ide
.vs/CuHackingMurder/v16/Server/sqlite3/db.lock
.vs/CuHackingMurder/v16/.suo
.vs/CUHACKING2020v2/v16/.suo
